---

import BuildingIcon from '../icons/Building.astro'
import LaravelIcon from '../icons/Laravel.astro';
import TailwindIcon from '../icons/Tailwind.astro';
import HtmlIcon from '../icons/Html.astro';
import CssIcon from '../icons/Css.astro';
import JavascriptIcon from '../icons/Javascript.astro';
import MysqlIcon from '../icons/Mysql.astro';
import PythonIcon from '../icons/Python.astro';
import PhpIcon from '../icons/PhpIcon.astro';
import DelphiIcon from '../icons/Delphi.astro';
import PascalIcon from '../icons/PascalIcon.astro';
import ExternalLink from '../icons/ExternalLink.astro';

const TAGS = {
    LARAVEL: {
        name: "Laravel",
        class: "transition hover:bg-[#ff2d2045]  cursor-pointer",
        colors: "--bg_hover: rgb(255 45 32 / 84%); --bgdark_hover: rgb(255 45 32 / 43%);",
        icon: LaravelIcon,
    },
    TAILWIND: {
        name: "Tailwind CSS",
        class: "transition", // hover:text-[#73bcf6]
        colors: "--bg_hover: rgb(0 49 89 / 84%); --bgdark_hover: rgb(0 49 89 / 43%);",
        icon: TailwindIcon,
    },
    HTML: {
        name: "HTML",
        // class: "hover:bg-[#e34f266e] transition cursor-pointer",
        class: "transition", 
        colors: "--bg_hover: rgb(227 79 38 / 84%); --bgdark_hover: rgb(227 79 38 / 43%);",
        icon: HtmlIcon,
    },
    CSS: {
        name: "CSS",
        class: "transition cursor-pointer",
        colors: "--bg_hover: rgb(102 51 153 / 84%); --bgdark_hover: rgb(102 51 153 / 43%);",
        icon: CssIcon,
    },
    JAVASCRIPT: {
        name: "JavaScript",
        class: "hover:bg-[#f0db4f6e] transition cursor-pointer",
        colors: "--bg_hover: rgb(240 219 79 / 84%); --bgdark_hover: rgb(240 219 79 / 43%);",
        icon: JavascriptIcon,
    },
    MYSQL: {
        name: "MySQL",
        class: "transition hover_white cursor-pointer",
        colors: "--bg_hover: rgb(0 84 107 / 84%); --bgdark_hover: rgb(0 84 107 / 43%);",
        icon: MysqlIcon,
    },
    PYTHON: {
        name: "Python",
        class: "transition cursor-pointer",
        colors: "--bg_hover: rgb(56 126 184 / 84%); --bgdark_hover: rgb(56 126 184 / 43%);",
        icon: PythonIcon,
    },
    PHP: {
        name: "PHP",
        class: "transition cursor-pointer", // #4F5B93
        colors: "--bg_hover: rgb(79 91 147 / 84%); --bgdark_hover: rgb(79 91 147 / 43%);",
        icon: PhpIcon,
    },
    DELPHI: {
        name: "Delphi",
        class: "transition cursor-pointer", // #4F5B93
        colors: "--bg_hover: rgb(243 38 53 / 84%); --bgdark_hover: rgb(243 38 53 / 43%);",
        icon: DelphiIcon,
    },
    PASCAL: {
        name: "Object Pascal",
        class: "transition cursor-pointer", // #4F5B93
        colors: "--bg_hover: rgb(255 255 255 / 84%); --bgdark_hover: rgb(255 255 255 / 43%);",
        icon: PascalIcon,
    },
}
const EXPERIENCE = [
    {
        company_name: "Piquero Tecnolog铆a y Deportes",
        company_web: "https://piquero.com.mx",
        date: "Mayo 2021 - Marzo 2025",
        description: `Ayude en el desarrollo e implementaci贸n de distintos proyectos a la medida en funci贸n de las necesidades del cliente y proyectos SASS de la empresa. Mejorando y agilizando los procesos de contrucci贸n y colaboraci贸n mediante distintas herramientas de desarrollo.`,
        position: "Desarrollador software",
        projects_discounted: [
            {
                description: `Desarrolle e implemente Celebrations, una aplicaci贸n WEB privada para la gestion de eventos (bodas, XV a帽os, cumplea帽os, etc).
                Se ha utilizado para la administraci贸n de invitados en una boda y asignaci贸n de lugares.`,
                github: "",
                image: "/projects/celebrations.webp",
                isPrivate: true,
                // link: "https://celebrations.spivet.com.mx/login",
                link: "/projects/celebrations.webp",
                sub_title: "",
                tags: [TAGS.LARAVEL, TAGS.HTML, TAGS.CSS, TAGS.JAVASCRIPT, TAGS.MYSQL ],
                title: "Celebrations",
            },
            {
                description: `SIGMMA Soft, sistema de Gesti贸n de Activos Hospitalarios.
                Proyecto privado para el sector m茅dico. Con la finalidad de levantar los tickets asignados a un t茅cnico o cuadrilla, para el debido mantenimiento de los sistemas de salud.`,
                github: "",
                image: "/projects/sigmma.webp",
                isPrivate: true,
                // link: "https://www.sigmmasoft.com/",
                link: "/projects/sigmma.webp",
                sub_title: "",
                tags: [TAGS.LARAVEL, TAGS.HTML, TAGS.CSS, TAGS.JAVASCRIPT, TAGS.MYSQL ],
                title: "SIGMMASoft",
            },
            {
                description: `Sistema de Planificaci贸n de Recursos Empresariales (ERP) para empresa del sector salud.
                Contribu铆, desarrolle e implemente un ERP para la misma empresa privada, agilizando y digitalizando el proceso operativo interno de la empresa.`,
                github: "",
                image: "/projects/erp.webp",
                isPrivate: true,
                // link: "https://www.sigmmasofterp.com/",
                link: "/projects/erp.webp",
                sub_title: "",
                tags: [TAGS.LARAVEL, TAGS.HTML, TAGS.CSS, TAGS.JAVASCRIPT, TAGS.MYSQL ],
                title: "ERP",
            },
        ],
    },
    {
        company_name: "(EXSIM) Expertos en Sistemas Microsip",
        company_web: "https://piquero.com.mx",
        date: "Julio 2019 - Noviembre 2020",
        description: `Durante mi estancia en 茅sta empresa, mi funci贸n era el desarrollo y mantenimiento de aplicaciones web y de escritorio para pymes mexicanas, as铆 como al soporte y atenci贸n al clientes.
                Contribu铆 en la creaci贸n e implementaci贸n de un aplicaci贸n B2B integrada con el ERP de Miscrosip. Permitiendo mejorar el tiempo de entrega y gesti贸n de insumos y mercanc铆a en sus respectivas empresas.`,
        position: "Desarrollador software junior",
        projects_discounted: [
            {
                description: `Permite al usuario (cliente) realizar el levantamiento de sus pedidos y cotizaciones, administrar sus productos/art铆culos, listas de precios, cat谩logo de clientes, entre otras soluciones; as铆 como consultar sus estado de cuenta, facturas y descarga de las mismas, en PDF y XML.
                Particip茅 activamente en el desarrollo de la API de esta plataforma, utilizando Delphi XE2 como IDE de desarrollo.`,
                github: "",
                image: "",
                isPrivate: false,
                link: "",
                sub_title: "(eCommerce para mayoristas integrado a Microsip)",
                tags: [TAGS.PHP, TAGS.HTML, TAGS.CSS, TAGS.JAVASCRIPT, TAGS.PASCAL ],
                title: "CelebraB2BGo v1",
            },
        ],
    },
    {
        company_name: "Oohel Technologies",
        company_web: "https://piquero.com.mx",
        date: "Octubre 2018 - Mayo 2019",
        description: `Trabaj茅 como desarrollador junior y dise帽ador gr谩fico web
                Responsable del maquetado y creaci贸n de p谩ginas web para la empresa.
                Desarroll茅 algunos m贸dulos en el ERP de Odoo y parte del desarrollo de aplicaciones m贸viles.`,
        position: "Desarrollador software junior",
        projects_discounted: [
        ],
    },
]


// https://flowbite.com/docs/components/timeline/

---


<ol class="relative border-s border-gray-200 dark:border-gray-700"> 
    <li class="mb-10 ms-6">
        {
            EXPERIENCE.map(({company_name, company_web, date, description, position, projects_discounted}) => (
                <span class="absolute flex items-center justify-center w-6 h-6 bg-blue-100 rounded-full -start-3 ring-8 ring-gray dark:ring-gray-900 dark:bg-blue-900">
                    <BuildingIcon />
                </span>
                <section class="flex flex-col md:flex-row gap-x-5 mb-4 ms-6">
                    <div class="content_left min-w-[300px] ">
                        <h3 class="text-2xl font-semibold mb-2 emphasis_text ">{position}</h3>
                        <p class="relative text_company_name">{company_name} <a href={company_web} target="_blank" rel="noopener noreferrer" class="link_text">web <ExternalLink class="size-2 inline-block" /></a></p>
                        <time class="p-0 m-0 text-sm text-gray-400/85 dark:text-white/90">{date}</time>
                    </div>
                    <div class="content_right w-full md:col-span-3">
                        {
                            description.split('\n').map((text, index) => (
                                <p class="text-sm md:text-md text-pretty">{text}</p>
                            ))
                        }
                        {/* <ul class="text-sm md:text-md text-pretty mb-4 list-disc" >
                            {
                                description.split('\n').map((line, index) => (
                                    <li class="mb-2">{line}</li>
                                ))
                            }
                        </ul> */}
                        
                        { projects_discounted.length > 0 && (
                                <div class="mt-5">
                                    <h4 class="text-base mb-3 ">Proyectos relevantes</h4>
                                    { projects_discounted.map(({description, link, github, image, sub_title, tags, title, isPrivate}) => (
                                            <div class="w-full mt-5 mb-5 flex flex-col justify-between pl-4">
                                                {
                                                    link!=='' ? (
                                                        <a href={link} target="_blank" rel="noopener noreferrer" class="w-full">
                                                                <h3 class="text-sm md:text-base font-semibold mb-2  " > {title} {
                                                                sub_title!='' && <span class="text-sm text-gray-300 ">{sub_title}</span>} {
                                                                isPrivate && <span class="bg-red-100 text-red-800 text-xs font-medium ml-2 px-2.5 py-.5 rounded dark:bg-red-900 dark:text-red-300">Privado</span>}
                                                            </h3>
                                                        </a>
                                                    )
                                                    : (
                                                        <div class="w-full">
                                                                <h3 class="text-sm md:text-base font-semibold mb-2  " > {title} {
                                                                sub_title!='' && <span class="text-sm text-gray-300 ">{sub_title}</span>} {
                                                                isPrivate && <span class="bg-red-100 text-red-800 text-xs font-medium ml-2 px-2.5 py-.5 rounded dark:bg-red-900 dark:text-red-300">Privado</span>}
                                                            </h3>
                                                        </div>
                                                    )
                                                }
                                                {
                                                    description.split('\n').map((item) => (
                                                        <p class="text-xs md:text-sm text-pretty mb-2">{item}</p>
                                                    ))
                                                }
                                                <ul class="flex gap-x-2 flex-row flex-wrap my-2">
                                                    {tags.map(tag=>(
                                                        <li class="mb-1">
                                                            <span class={` flex items-center gap-x-2 rounded-full text-xs ${tag.class} tags_p text-white  py-1 px-2 `} style={tag.colors??''} >
                                                                <tag.icon class="size-3" />
                                                                {tag.name}
                                                            </span>
                                                        </li>
                                                    ))}
                                                </ul>
                                            </div>
                                        ))
                                    }
                                </div>
                            )
                        }
                    </div>
                </section>
            ))
        }
    </li>



</ol>


<style>
    .tags_p {
        background-color: light-dark( rgba(205, 205, 205, 0.958), rgba(77, 77, 77, 0.475) );
        cursor: pointer;
        &:hover {
            background-color: light-dark(  var(--bg_hover), var(--bgdark_hover));
            svg {
                scale: 1.15;
            }
        }
        &.hover_white {
            &:hover {
                svg {
                    path {
                        fill: white;
                    }
                }
            }
        }
    }
    
    .link_text {
        color: light-dark( var(--color_lText), var(--color_wText) );
        font-size: 12px;
        opacity: 0;
        margin-left: -50px;
    }
    .text_company_name:hover .link_text {
        opacity: 1;
        margin-left: 0;
        text-decoration: underline;
        transition: all 0.3s ease;
        &:hover {
            color: light-dark(var(--color-yellow_dark), var(--color-yellow));
        }
    }
</style>