---
import LaravelIcon from '../icons/Laravel.astro';
import TailwindIcon from '../icons/Tailwind.astro';
import HtmlIcon from '../icons/Html.astro';
import CssIcon from '../icons/Css.astro';
import JavascriptIcon from '../icons/Javascript.astro';
import MysqlIcon from '../icons/Mysql.astro';
import PythonIcon from '../icons/Python.astro';
import PhpIcon from '../icons/PhpIcon.astro';
import DelphiIcon from '../icons/Delphi.astro';
import PascalIcon from '../icons/PascalIcon.astro';
import SassIcon from '../icons/SassIcon.astro';
import NodejsIcon from '../icons/NodejsIcon.astro';
import SqliteIcon from '../icons/SqliteIcon.astro';
import ViteIcon from '../icons/viteIcon.astro';

const TAGS = {
    LARAVEL: {
        name: "Laravel",
        class: "transition hover:bg-[#ff2d2045] hover_white cursor-pointer",
        colors: "--bg_hover: rgb(255 45 32 / 84%); --bgdark_hover: rgb(255 45 32 / 43%);",
        icon: LaravelIcon,
    },
    TAILWIND: {
        name: "Tailwind CSS",
        class: "transition", // hover:text-[#73bcf6]
        colors: "--bg_hover: rgb(0 49 89 / 84%); --bgdark_hover: rgb(0 49 89 / 43%);",
        icon: TailwindIcon,
    },
    HTML: {
        name: "HTML",
        // class: "hover:bg-[#e34f266e] transition cursor-pointer",
        class: "transition", 
        colors: "--bg_hover: rgb(227 79 38 / 84%); --bgdark_hover: rgb(227 79 38 / 43%);",
        icon: HtmlIcon,
    },
    CSS: {
        name: "CSS",
        class: "transition cursor-pointer",
        colors: "--bg_hover: rgb(102 51 153 / 84%); --bgdark_hover: rgb(102 51 153 / 43%);",
        icon: CssIcon,
    },
    JAVASCRIPT: {
        name: "JavaScript",
        class: "hover:bg-[#f0db4f6e] transition cursor-pointer",
        colors: "--bg_hover: rgb(240 219 79 / 84%); --bgdark_hover: rgb(240 219 79 / 43%);",
        icon: JavascriptIcon,
    },
    MYSQL: {
        name: "MySQL",
        class: "transition hover_white cursor-pointer",
        colors: "--bg_hover: rgb(0 84 107 / 84%); --bgdark_hover: rgb(0 84 107 / 43%);",
        icon: MysqlIcon,
    },
    PYTHON: {
        name: "Python",
        class: "transition cursor-pointer",
        colors: "--bg_hover: rgb(56 126 184 / 84%); --bgdark_hover: rgb(56 126 184 / 43%);",
        icon: PythonIcon,
    },
    PHP: {
        name: "PHP",
        class: "transition cursor-pointer", // #4F5B93
        colors: "--bg_hover: rgb(79 91 147 / 84%); --bgdark_hover: rgb(79 91 147 / 43%);",
        icon: PhpIcon,
    },
    DELPHI: {
        name: "Delphi",
        class: "transition cursor-pointer", // #4F5B93
        colors: "--bg_hover: rgb(243 38 53 / 84%); --bgdark_hover: rgb(243 38 53 / 43%);",
        icon: DelphiIcon,
    },
    PASCAL: {
        name: "Object Pascal",
        class: "transition cursor-pointer", // #4F5B93
        colors: "--bg_hover: rgb(255 255 255 / 84%); --bgdark_hover: rgb(255 255 255 / 43%);",
        icon: PascalIcon,
    },
    SASS: {
        name: "SASS",
        class: "transition cursor-pointer hover_white", // #CF649A
        colors: "--bg_hover: rgb(207 100 154 / 84%); --bgdark_hover: rgb(207 100 154 / 43%);",
        icon: SassIcon,
    },
    NODEJS: {
        name: "NodeJS",
        class: "transition cursor-pointer", // #41873F
        colors: "--bg_hover: rgb(65 135 63 / 84%); --bgdark_hover: rgb(65 135 63 / 43%);",
        icon: NodejsIcon,
    },
    SQLITE: {
        name: "SqLite",
        class: "transition hover_white cursor-pointer ", // #003B57
        colors: "--bg_hover: rgb(0 59 87 / 84%); --bgdark_hover: rgb(0 59 87 / 43%);",
        icon: SqliteIcon,
    },
    VITE: {
        name: "Vite",
        class: "transition  cursor-pointer ", // #FFA800
        colors: "--bg_hover: rgb(255 168 0 / 84%); --bgdark_hover: rgb(255 168 0 / 43%);",
        icon: ViteIcon,
    },
}
const PROJECTS = [
    {
        title: "Acortador de URLs",
        description: "Transforma tus enlaces largos en URLs cortas y fáciles de compartir. Ideal para redes sociales, mensajería y cualquier lugar donde necesites simplificar un enlace.",
        link: "https://links.moropm.com",
        github: "https://github.com/MoropM/api-shorturi",
        image: "/projects/short_links.webp",
        isPrivate: false,
        tags: [TAGS.LARAVEL, TAGS.HTML, TAGS.TAILWIND, TAGS.JAVASCRIPT, TAGS.VITE, TAGS.SQLITE ],
    },
    {
        title: "SCCode - Simple Creation Code",
        description: "Editor de código simple para HTML, CSS y JS. Crea proyectos simples sin necesidad de un editor instalado, comienza a poner en practica tus habilidades de programación.",
        link: "https://sccode.moropm.com",
        github: "https://github.com/MoropM/sccode",
        image: "/projects/sscode.webp",
        isPrivate: false,
        tags: [TAGS.HTML, TAGS.CSS, TAGS.JAVASCRIPT ],
    },
    {
        title: "Generador de licencias",
        description: "Generador de licencias (clave encriptada de 25 caracteres) y un token a partir de la fecha de inicio y la fecha de finalización, enlazado a un dominio personal. Este proyecto es solo de ejemplo, no es una herramienta oficial o recomendada para el uso en producción.",
        link: "https://licenses.moroniperezm.com/",
        github: "https://github.com/MoropM/createLicenses",
        image: "/projects/licenses.webp",
        isPrivate: false,
        tags: [TAGS.LARAVEL, TAGS.HTML, TAGS.CSS, TAGS.JAVASCRIPT, TAGS.MYSQL ],
    },
    {
        title: "100js proyectos con Midu",
        description: "Proyectos basados en los ejercicios propuestos por Miguel Ángel Durán, codificados con Javascript Vanilla, HTML5 y CSS. La intención no solo es ir aprendiendo de los proyectos propuestos, sino ir agregando mis propias propuestas a los proyectos.",
        link: "https://100js.moroniperezm.com/",
        github: "https://github.com/MoropM/100projects-with-midu",
        image: "/projects/100js.webp",
        isPrivate: false,
        tags: [TAGS.HTML, TAGS.CSS, TAGS.JAVASCRIPT ],
    },
    
]


// ? Anteiror clase en img de proyectos:  aspect-video 
---

{
    PROJECTS.map(({ title, description, link, github, image, tags, isPrivate }) => (
        
        <article class="w-full md:max-w-[350px] lg:max-w-[380px] p-2 mb-4 rounded-xl flex flex-col justify-between art_card">
            <a href={link} target="_blank" rel="noopener noreferrer" class="w-full">
                <h3 class="text-2xl font-semibold mb-2 emphasis_text " >{title} {
                    isPrivate && <span class="bg-red-100 text-red-800 text-xs font-medium ml-2 px-2.5 py-.5 rounded dark:bg-red-900 dark:text-red-300">Privado</span>}
                </h3>
            </a>
            <p class="text-sm md:text-md text-pretty mb-4">{description}</p>
            <ul class="flex gap-x-2 flex-row flex-wrap mb-2">
                {tags.map(tag=>(
                    <li class="mb-2">
                        <span class={` flex items-center gap-x-2 rounded-full text-xs ${tag.class} tags_p text-white  py-2 px-2 `} style={tag.colors??''} >
                            <tag.icon class="size-3" />
                            {tag.name}
                        </span>
                    </li>
                ))}
            </ul>
            <a href={link} target="_blank" rel="noopener noreferrer" class="w-full">
                <img
                    class=" shadow-2xl shadow-white/10 w-full min-w-[250px] max-w-[300px] m-auto rounded-sm"
                    src={image}
                    alt={`Captura de pantalla del proyecto ${title}`}
                />
            </a>
        </article>
    ))
}

<style>
    .tags_p {
        background-color: light-dark( rgba(205, 205, 205, 0.958), rgba(77, 77, 77, 0.475) );
        cursor: pointer;
        &:hover {
            background-color: light-dark(  var(--bg_hover), var(--bgdark_hover));
            svg {
                scale: 1.15;
            }
        }
        &.hover_white {
            &:hover {
                svg {
                    path {
                        fill: white;
                    }
                }
            }
        }
    }
    .art_card {
        background-color: light-dark(rgba(242, 242, 242, 0.788), rgb(27, 27, 27));
        box-shadow: 0 3px 7px 1px light-dark( rgba(4, 25, 99, 0.23), rgba(218, 218, 218, 0.241) );
    }
</style>