---
import LaravelIcon from '../icons/Laravel.astro';
import TailwindIcon from '../icons/Tailwind.astro';
import HtmlIcon from '../icons/Html.astro';
import CssIcon from '../icons/Css.astro';
import JavascriptIcon from '../icons/Javascript.astro';
import MysqlIcon from '../icons/Mysql.astro';
import PythonIcon from '../icons/Python.astro';

const TAGS = {
    LARAVEL: {
        name: "Laravel",
        class: "hover:bg-[#ff2d2045] transition",
        icon: LaravelIcon,
    },
    TAILWIND: {
        name: "Tailwind CSS",
        class: "hover:bg-[#003159] transition", // hover:text-[#73bcf6]
        icon: TailwindIcon,
    },
    HTML: {
        name: "HTML",
        class: "hover:bg-[#e34f266e] transition",
        icon: HtmlIcon,
    },
    CSS: {
        name: "CSS",
        class: "hover:bg-[#66339999] transition",
        icon: CssIcon,
    },
    JAVASCRIPT: {
        name: "JavaScript",
        class: "hover:bg-[#f0db4f6e] transition",
        icon: JavascriptIcon,
    },
    MYSQL: {
        name: "MySQL",
        class: "hover:bg-[#00546b80] transition",
        icon: MysqlIcon,
    },
    PYTHON: {
        name: "Python",
        class: "hover:bg-[#387eb891] transition",
        icon: PythonIcon,
    },
}
const PROJECTS = [
    {
        title: "Generador de licencias",
        description: "Generador de licencias (clave encriptada de 25 caracteres) y un token a partir de la fecha de inicio y la fecha de finalización, enlazado a un dominio personal. Este proyecto es solo de ejemplo, no es una herramienta oficial o recomendada para el uso en producción.",
        link: "https://licenses.moroniperezm.com/",
        github: "https://github.com/MoropM/createLicenses",
        image: "/projects/licenses.webp",
        isPrivate: false,
        tags: [TAGS.LARAVEL, TAGS.HTML, TAGS.CSS, TAGS.JAVASCRIPT, TAGS.MYSQL ],
    },
    {
        title: "100js proyectos con Midu",
        description: "Proyectos basados en los ejercicios propuestos por Miguel Ángel Durán, codificados con javascript vanilla, HTML5 y CSS.La inteción no solo es ir aprenciendo de los proyectos propuestos, sino ir agregando mis propias propuestas a los proyectos.",
        link: "https://100js.moroniperezm.com/",
        github: "https://github.com/MoropM/100projects-with-midu",
        image: "/projects/100js.webp",
        isPrivate: false,
        tags: [TAGS.HTML, TAGS.CSS, TAGS.JAVASCRIPT ],
    },
    {
        title: "Celebrations",
        description: "Un proyecto privado para la la organización de celebraciones, con la finalidad de getionar eventos.",
        link: "https://celebrations.spivet.com.mx/login",
        github: "",
        image: "/projects/celebrations.webp",
        isPrivate: true,
        tags: [TAGS.LARAVEL, TAGS.HTML, TAGS.CSS, TAGS.JAVASCRIPT, TAGS.MYSQL ],
    },
    {
        title: "SIGMMASoft",
        description: "Proyecto privado para el sector médico. Con la finalidad de levantar los tickets asignados a un técnoco o cuadrilla, para el devido mantenimiento de los sistemas de salud.",
        link: "https://sigmmasoft.com/",
        github: "",
        image: "/projects/sigmma.webp",
        isPrivate: true,
        tags: [TAGS.LARAVEL, TAGS.HTML, TAGS.CSS, TAGS.JAVASCRIPT, TAGS.MYSQL ],
    },
]
---

{
    PROJECTS.map(({ title, description, link, github, image, tags, isPrivate }) => (
        
        <article class="max-w-[360px]">
            <h3 class="text-2xl font-semibold mb-2 emphasis_text " >{title} {
            isPrivate && <span class="bg-red-100 text-red-800 text-xs font-medium ml-2 px-2.5 py-.5 rounded dark:bg-red-900 dark:text-red-300">Privado</span>
        } </h3>
            <p class="text-md text-pretty mb-4">{description}</p>
            <ul class="flex gap-x-2 flex-row flex-wrap mb-2">
                {tags.map(tag=>(
                    <li>
                        <span class={` flex gap-x-2 rounded-full text-xs bg-black text-white ${tag.class} py-2 px-2`}>
                            <tag.icon class="size-4" />
                            {tag.name}
                        </span>
                    </li>
                ))}
            </ul>
            <a href={link} target="_blank" rel="noopener noreferrer" class="w-full">
                <img
                    class="rounded shadow-2xl shadow-white/10 w-full min-w-[250px]"
                    src={image}
                    alt={`Captura de pantalla del proyecto ${title}`}
                />
            </a>
        </article>
    ))
}